USE [master]
GO
/****** Object:  Database [SocialMediaDB]    Script Date: 24/02/2021 04:30:04 م ******/
CREATE DATABASE [SocialMediaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SocialMediaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SocialMediaDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SocialMediaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SocialMediaDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SocialMediaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SocialMediaDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 24/02/2021 04:30:04 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplicationUsers]    Script Date: 24/02/2021 04:30:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[UserHandle] [nvarchar](128) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Bio] [nvarchar](250) NULL,
	[Location] [nvarchar](100) NULL,
	[WebSite] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.ApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 24/02/2021 04:30:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 24/02/2021 04:30:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 24/02/2021 04:30:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 24/02/2021 04:30:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 24/02/2021 04:30:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [nvarchar](128) NOT NULL,
	[ScreamId] [nvarchar](128) NOT NULL,
	[UserHandle] [nvarchar](128) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Likes]    Script Date: 24/02/2021 04:30:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userHandle] [nvarchar](128) NOT NULL,
	[screamId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Likes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 24/02/2021 04:30:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Recipient] [nvarchar](128) NOT NULL,
	[Sender] [nvarchar](128) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ScreamId] [nvarchar](128) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[type] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Screams]    Script Date: 24/02/2021 04:30:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screams](
	[ScreamId] [nvarchar](128) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[LikeCount] [int] NULL,
	[CommentCount] [int] NULL,
	[UserHandle] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Screams] PRIMARY KEY CLUSTERED 
(
	[ScreamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersNotifications]    Script Date: 24/02/2021 04:30:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersNotifications](
	[Recipient] [nvarchar](128) NOT NULL,
	[Notifications_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UsersNotifications] PRIMARY KEY CLUSTERED 
(
	[Recipient] ASC,
	[Notifications_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ApplicationUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserHandle], [ImagePath], [Bio], [Location], [WebSite]) VALUES (N'6dbd10d6-2a16-44cf-8fd5-415205114086', N'aaOsama@gmail.com', 0, N'ANYwjz7NCDStl87PpcPZFTOZcTqybzLrZ5lkOUCjUCqkB1aFdBAeifspbg5qIhfc8w==', N'bde5e56e-bf04-4123-bf80-ce57ab209cc5', NULL, 0, 0, NULL, 0, 0, N'aaOsama@gmail.com', N'aaOsama', N'../assests/photo1.jpg', NULL, NULL, NULL)
INSERT [dbo].[ApplicationUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserHandle], [ImagePath], [Bio], [Location], [WebSite]) VALUES (N'7a3aaa0f-f144-474d-b4aa-7379a2e0d11d', N'AhmedOsama@gmail.com', 0, N'AGIoHwQBBkdmEDrC09d8uyz1aGNiJFtVXG/dVBS7iVDBRk4s3939A9zVJhIL+2NB/A==', N'16a8b8af-f31c-4f31-baba-5441a9e3490c', NULL, 0, 0, NULL, 0, 0, N'AhmedOsama@gmail.com', N'OsOsOs', N'../assests/photo1.jpg', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Likes] ON 

INSERT [dbo].[Likes] ([id], [userHandle], [screamId]) VALUES (2, N'Ahmed', N'563b0f7a-2bd1-4651-9f40-b2f62cb0e990')
SET IDENTITY_INSERT [dbo].[Likes] OFF
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [Recipient], [Sender], [IsRead], [ScreamId], [CreatedAt], [type]) VALUES (2, N'Ahmed', N'Osama', 1, N'44603732-ccb2-4a76-92e6-ca0675a6fc58', CAST(N'2020-11-23 16:16:22.510' AS DateTime), N'like')
SET IDENTITY_INSERT [dbo].[Notifications] OFF
INSERT [dbo].[Screams] ([ScreamId], [CreatedAt], [Body], [LikeCount], [CommentCount], [UserHandle]) VALUES (N'44603732-ccb2-4a76-92e6-ca0675a6fc58', CAST(N'2020-11-23 16:16:22.510' AS DateTime), N'Two', 0, 0, N'Ahmed')
INSERT [dbo].[Screams] ([ScreamId], [CreatedAt], [Body], [LikeCount], [CommentCount], [UserHandle]) VALUES (N'563b0f7a-2bd1-4651-9f40-b2f62cb0e990', CAST(N'2020-11-23 12:45:11.343' AS DateTime), N'HelloDear2', 0, 0, N'Osama')
INSERT [dbo].[Screams] ([ScreamId], [CreatedAt], [Body], [LikeCount], [CommentCount], [UserHandle]) VALUES (N'5ba0d4e8-2d95-4d46-bb65-0c8a4394a73a', CAST(N'2020-11-23 16:18:16.913' AS DateTime), N'Who is this', 0, 0, N'Osama')
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserHandle]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserHandle] ON [dbo].[ApplicationUsers]
(
	[UserHandle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[AspNetUserClaims]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[AspNetUserLogins]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[AspNetUserRoles]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CommentId]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CommentId] ON [dbo].[Comments]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ScreamId]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_ScreamId] ON [dbo].[Comments]
(
	[ScreamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserHandle]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_UserHandle] ON [dbo].[Comments]
(
	[UserHandle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ScreamId]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_ScreamId] ON [dbo].[Likes]
(
	[screamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserHandle]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_UserHandle] ON [dbo].[Likes]
(
	[userHandle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Notifications]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Recipient]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_Recipient] ON [dbo].[Notifications]
(
	[Recipient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ScreamId]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_ScreamId] ON [dbo].[Notifications]
(
	[ScreamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Sender]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_Sender] ON [dbo].[Notifications]
(
	[Sender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ScreamId]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ScreamId] ON [dbo].[Screams]
(
	[ScreamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserHandle]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_UserHandle] ON [dbo].[Screams]
(
	[UserHandle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_Id]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_Id] ON [dbo].[UsersNotifications]
(
	[Notifications_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Recipient]    Script Date: 24/02/2021 04:30:05 م ******/
CREATE NONCLUSTERED INDEX [IX_Recipient] ON [dbo].[UsersNotifications]
(
	[Recipient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.ApplicationUsers_UserHandle] FOREIGN KEY([UserHandle])
REFERENCES [dbo].[ApplicationUsers] ([UserHandle])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.ApplicationUsers_UserHandle]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Screams_ScreamId] FOREIGN KEY([ScreamId])
REFERENCES [dbo].[Screams] ([ScreamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Screams_ScreamId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Likes_dbo.ApplicationUsers_userHandle] FOREIGN KEY([userHandle])
REFERENCES [dbo].[ApplicationUsers] ([UserHandle])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_dbo.Likes_dbo.ApplicationUsers_userHandle]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Likes_dbo.Screams_screamId] FOREIGN KEY([screamId])
REFERENCES [dbo].[Screams] ([ScreamId])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_dbo.Likes_dbo.Screams_screamId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notifications_dbo.ApplicationUsers_Recipient] FOREIGN KEY([Recipient])
REFERENCES [dbo].[ApplicationUsers] ([UserHandle])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_dbo.Notifications_dbo.ApplicationUsers_Recipient]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notifications_dbo.ApplicationUsers_Sender] FOREIGN KEY([Sender])
REFERENCES [dbo].[ApplicationUsers] ([UserHandle])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_dbo.Notifications_dbo.ApplicationUsers_Sender]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notifications_dbo.Screams_ScreamId] FOREIGN KEY([ScreamId])
REFERENCES [dbo].[Screams] ([ScreamId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_dbo.Notifications_dbo.Screams_ScreamId]
GO
ALTER TABLE [dbo].[Screams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Screams_dbo.ApplicationUsers_UserHandle] FOREIGN KEY([UserHandle])
REFERENCES [dbo].[ApplicationUsers] ([UserHandle])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Screams] CHECK CONSTRAINT [FK_dbo.Screams_dbo.ApplicationUsers_UserHandle]
GO
ALTER TABLE [dbo].[UsersNotifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsersNotifications_dbo.ApplicationUsers_Recipient] FOREIGN KEY([Recipient])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[UsersNotifications] CHECK CONSTRAINT [FK_dbo.UsersNotifications_dbo.ApplicationUsers_Recipient]
GO
ALTER TABLE [dbo].[UsersNotifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsersNotifications_dbo.Notifications_Notifications_Id] FOREIGN KEY([Notifications_Id])
REFERENCES [dbo].[Notifications] ([Id])
GO
ALTER TABLE [dbo].[UsersNotifications] CHECK CONSTRAINT [FK_dbo.UsersNotifications_dbo.Notifications_Notifications_Id]
GO
USE [master]
GO
